.nav{
  min-height:100vh;
  display:flex;
  flex-direction: column;
  background-color:rgb(23, 22, 22);
  color:white;
  width:200px;
  
}
.bb{
  border-radius: 5px 10px 5px 10px;
  width:80%;
  margin-top:30px;
  margin-bottom:30px;
 
  
  
}
ul{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:50%;
  list-style: none;
  padding:10px;
  border-top: 1px white solid;
  
  
}
.all-in-one{
  font-style: italic;
  color:lime;
}

